/**============================
    TypeaheadDropdown CSS start
=============================**/
.TypeAheadDropDown {
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-left: 18px;
}

.TypeAheadDropDown input {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    padding: 10px 5px ;
    box-sizing: border-box;
    outline: none;
    background-color: rgb(241, 237, 237);
    border-radius: 8px;
    border-color: rgb(233, 229, 229)!important;
}

.TypeAheadDropDown ul::before {
    content: '';
}

.TypeAheadDropDown ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
    border-top: 1px solid gray;
    position: absolute;
    width: 100%;
    z-index: 2;
    border-radius: 8px;
}

.TypeAheadDropDown li {
    padding: 10px 5px ;
    cursor: pointer;
    position: relative;
    background: rgb(238, 238, 238);
    border-top: 1px solid gray;
}

.TypeAheadDropDown li:hover {
    background: lightgray;
    text-decoration: underline;
}

/**==============================
    ChunkSizingSlider CSS start
===============================**/

.chunk-sizing-slider {
    padding: 20px;
    margin-top: 20px;
}

.chunk-sizing-slider input {
    width: 33%;
    padding: 12px;
}

.checkbox-wrapper {
    width: 25%;
}

.checkbox-wrapper input[type="checkbox"] {
    /* creating a custom design */
    width: 1.6em;
    height: 1.6em;
    border-radius: 0.15em;
    margin-right: 0.5em;
    border: 0.15em solid #007a7e;
    outline: none;
    cursor: pointer;
}

.NewPartitionDescription {
    height: 180px;
    width: 100%;
}

.toggle-wrapper {
    display: flex;
    margin-top: 25px;
}

.toggle-switch {
    position: relative;
    width: 75px;
    display: inline-block;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    text-align: left;
    &-checkbox {
      display: none;
    }
    &-label {
      display: block;
      overflow: hidden;
      cursor: pointer;
      border: 0 solid #bbb;
      border-radius: 20px;
      margin: 0;
    }
    &-inner {
      display: block;
      width: 200%;
      margin-left: -100%;
      transition: margin 0.3s ease-in 0s;
      &:before,
      &:after {
        display: block;
        float: left;
        width: 50%;
        height: 34px;
        padding: 0;
        line-height: 34px;
        font-size: 14px;
        color: white;
        font-weight: bold;
        box-sizing: border-box;
      }
      &:before {
        content: "Yes";
        text-transform: uppercase;
        padding-left: 10px;
        background-color: rgb(75, 219, 84);
        color: #fff;
      }
    }
    &-disabled {
      background-color: #ddd;
      cursor: not-allowed;
      &:before {
        background-color: #ddd;
        cursor: not-allowed;
      }
    }
    &-inner:after {
      content: "No";
      text-transform: uppercase;
      padding-right: 10px;
      background-color: #bbb;
      color: #fff;
      text-align: right;
    }
    &-switch {
      display: block;
      width: 24px;
      margin: 5px;
      background: #fff;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 40px;
      border: 0 solid #bbb;
      border-radius: 20px;
      transition: all 0.3s ease-in 0s;
    }
    &-checkbox:checked + &-label {
      .toggle-switch-inner {
        margin-left: 0;
      }
      .toggle-switch-switch {
        right: 0px;
      }
    }
  }

  .knowledge-tab-navigation {
    display: flex;
    justify-content: space-between;
    margin: 20px 10px 45px 10px;
  }

  .kb-tab:hover {
    color:rgb(206, 200, 200);
    cursor: pointer;
  }

  .kb-tab-disabled {
    color:rgb(161, 157, 157);
  }